body {
    font-size: 17px;
    font-family: sans-serif;
    background: grey;
}
.post {
    width:50%;
    margin: 1em auto;
    /*padding: 1em;
    border: 1px solid black;*/
    border-radius: 20px;
    list-style: none;
    background: white;
}
.post header {
    margin: 0;
    padding:0.5em;
    background: rgb(86, 191, 219);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.post h1 {
    margin: 0;
}
.post h1 a{
    font-size: 1.5rem;
    font-variant: small-caps;
    color: white;
}
.post footer, .post section {
    padding: 1em;
}

.userinfo img {
    max-width: 200px;
    max-height: 200px;
}
