body {
    font-size: 17px;
    font-family: sans-serif;
    background: grey;
}
.post {
    width:50%;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid black;
    border-radius: 20px;
    list-style: none;
    background: white;
}

.post h2{
    margin: 0.2em;
}
